<div class="about-page">
	<h1>Comisión Directiva</h1>
	<div class="profile vice">
		<h5>Vicepresidente</h5>
		<%= image_tag 'default_profile.jpg', width: 160 %>
		<h5>Sr. Teo Kazachuk  </h5>
	</div>
	<div class="profile presi">
	<h5>Presidente</h5>
		<%= image_tag 'default_profile.jpg', width: 160 %>
		<h5>Sr. Carlos Lura  </h5>
	</div>
	<div class="profile secre">
		<h5>Secretario</h5>
		<%= image_tag 'default_profile.jpg', width: 160 %>
		<h5>Sr. Guillermo Barbat </h5>
	</div>
	<br class="clearBoth" />
	<div class="com-dir">
		<p> Sr. Virgilio Favianes (Tesorero) </p>
		<p>	Sr. José María Ubici (Protesorero) </p>
		<p>	Sr. Roberto Barbat (Prosecretario) </p>
	</div>
	<br class="clearBoth" />
	<div class="com-voc">
		<h1>Vocales</h1>
		<p> Sr. Raúl Omar Bottino </p>
		<p>	Sr. Carlos Bisio </p>
		<p>	Sr. Bernardo Agustín Zuchi </p>
	</div>
	<div class="com-fis">
		<h1>Comisión Fiscal</h1>
		<p> Sr. Lorenzo Martínez </p>
		<p>	Sr. Daniel Machiavello </p>
		<p>	Sr. Ezio Menoni </p>
	</div>
	<br class="clearBoth" />
</div>