<div class="about-page">
	<div class="page-title">
		<h1>Comisión Directiva</h1>
	</div>
	<div class="profile vice">
		<h3>Vicepresidente</h3>
		<%= image_tag 'default_profile.png', width: 160 %>
		<h5>Sr. Teo Kazachuk  </h5>
	</div>
	<div class="profile presi">
	<h3>Presidente</h3>
		<%= image_tag 'default_profile.png', width: 160 %>
		<h5>Sr. Carlos Lura  </h5>
	</div>
	<div class="profile secre">
		<h3>Secretario</h3>
		<%= image_tag 'default_profile.png', width: 160 %>
		<h5>Sr. Guillermo Barbat </h5>
	</div>
	<br class="clearBoth" />
	<div class="com-dir">
		<p> Sr. Virgilio Favianes (Tesorero) </p>
		<p>	Sr. José María Ubici (Protesorero) </p>
		<p>	Sr. Roberto Barbat (Prosecretario) </p>
	</div>
	<br class="clearBoth" />
	<div class="com-voc">
		<h3>Vocales</h3>
		<p> Sr. Raúl Omar Bottino </p>
		<p>	Sr. Carlos Bisio </p>
		<p>	Sr. Bernardo Agustín Zuchi </p>
	</div>
	<div class="com-fis">
		<h3>Comisión Fiscal</h3>
		<p> Sr. Lorenzo Martínez </p>
		<p>	Sr. Daniel Machiavello </p>
		<p>	Sr. Ezio Menoni </p>
	</div>
	<br class="clearBoth" />
</div>