<div class="category-page">
	<div class="page-title">
	 	<h1>Categorias</h1>
  </div>
	<div class="categories-desc">
    <p>
      Actualemnte el club cuenta con 3 categorias y dos subcategorias. Turismo Pista SAC como categoría principal, luego la categoria Fórmula SAC subdividida en "A" y "Super A" y por último la categoria de Kart 125cc subdividida en "A" y Super A".
    </p>
  </div>
  <div class="acces-categ">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <div class="category-panel <%= "#{category.short_name}-color"%>" >
          <%= image_tag category.logo %>
        </div>
      <% end -%>
    <% end -%>
  </div>
  <br class="clearBoth" />
</div>

<style type="text/css">
  .category-panel.TPS-color {
    border: 1px solid #d90000;
    color: #d90000;
  }
  .category-panel.FSAC-color{
    border: 1px solid #ff5c26;
    color: #ff5c26;
  }
  .category-panel.K125-color{
    border: 1px solid #ffbf00;
    color: #ffbf00;
  }

  .category-panel.TPS-color:hover{
    border: 2px solid #d90000;
  }
  .category-panel.FSAC-color:hover{
    border: 2px solid #ff5c26;
  }
  .category-panel.K125-color:hover{
    border: 2px solid #ffbf00;
  }

</style>
