<div class="contact-page">
	<div class="page-title">
		<h1>Contacto</h1>
	</div>
	<div class="col-md-8">
		<form class="contact-form" role="form" method="post" action="/send_contact_info" accept-charset="UTF-8">
		  <div class="form-group">
		    <label for="name">Nombre</label>
		    <input type="text" name="name" class="form-control" id="name" placeholder="Ingrese su nombre">
		  </div>
		  <div class="form-group">
	    	<label for="email">Email</label>
	    	<input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su email">
	  	</div>
	  	<div class="form-group">
		    <label for="tel">Teléfono</label>
		    <input type="text" name="tel" class="form-control" id="tel" placeholder="Ingrese su teléfono">
		  </div>
		  <div class="form-group">
		  	<label for="tel">Mensaje</label>
				<textarea class="form-control" name="message" rows="5"></textarea>
		  </div>
		  <button type="submit" data-disable-with="Enviando..." class="btn btn-danger">Enviar</button>
		</form>
	</div>
	<div class="contact-rigth">
		<%= image_tag 'yo_me_sumo.jpg', width: 263 %>
	</div>
</div>