<div class="gallery-cont">
  <div class="page-title">
    <h1>Multimedia</h1>
  </div>
	<div id="gallery"></div>
</div>
<script type="text/javascript">
	$("#gallery").nanoGallery({
    kind: 'flickr',
    userID: '126030921@N08',
    photoset:'72157654027116563',
    thumbnailWidth: 125,
    thumbnailHeight: 125,
    thumbnailGutterWidth: 20,
    thumbnailGutterHeight: 20,
    thumbnailLabel: { display: false },
  });
</script>