/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require active_admin.css.scss
 *= require_self
 *= require bootstrap.css
 *= require business-casual.css.scss
 *= require nanogallery.css.scss
 */

.navbar-nav a {
	color: #CACD34!important;
}

.social {
  margin-top: -5px;
}

.error {
	color:#A94442;
}

.clearBoth {
  clear:both;
}

thead th {
    background: none!important;
}

/************************ CONACT PAGE *****************************************************/

.contact-page {
  background: url(asset-path("checkered-flag-opa1000.png")) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 20px;
  color: #FFFFFF;
  height: 531px;
  padding: 10px;
}

.contact-form button {
  float: right;
  width: 115px;
}

.contact-rigth {
  color: #FF0000;
  float: right;
  margin-right: 61px;
  margin-top: 25px;
}
/************************ CATEGORY PAGE *****************************************************/

.category-panel {
 	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.59);
  border-radius: 20px;
  color: #CACD34;
  float: left;
  margin-left: 25px;
  padding: 5px;
  text-align: center;
  width: 30%;
  cursor: pointer;
  height: 218px;
  margin-bottom: 23px;
}

.category-panel:hover {
 	background: url(asset-path('cuadros_baderatrans.png'));
}

.categories-desc p{
  color:white!important;
}

.categories-pages {
  background: url(asset-path('checkered-flag-opa1000.png'));
  border-radius: 20px;
  color: #FFFFFF;
  padding: 5px;
  float: left;
  width: 100%;
}
.categories-pages p {
  color: white;
}

.categories-links {
  display: inline-flex;
  margin-left: 8%;
  text-align: center;
}

.small-table {
  width: 50% !important;
  margin-left: 25%;
}
.panel-blk {
  background-color: #000000 !important;
  border-color: #CACD34 !important;
  color: #CACD34 !important;
}

.panel-group .panel {
    border-radius: 4px!important;
    margin-bottom: 18px!important;
}
.panel-default {
    border-color: #FFFFFF!important;
}

.panel {
  background: url(asset-path('checkered-flag-opa1000.png'));
}

.pilot-container {
  margin-top: 2%;
}

.pilot {
  margin-left: 2%;
  margin-bottom: 2%;
}

.links-container {
  margin-top: 25px;
}

.link-files {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.59);
  border-radius: 20px;
  color: #CACD34;
  cursor: pointer;
  float: left;
  height: 211px;
  margin-bottom: 23px;
  margin-left: 25px;
  padding: 5px;
  text-align: center;
  width: 21%;
}

.link-files:hover {
  background: url(asset-path('cuadros_baderatrans.png'));
}


/************************ ABOUT PAGE *****************************************************/
.about-page {
  background: url(asset-path('checkered-flag-opa1000.png'));
  border-radius: 20px;
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

.com-dir {
  width: 100%;
}
.com-dir p{
  color: #FFFFFF;
  margin-top: 3%;
}

.com-voc {
  width: 50%;
  float: left;
}
.com-voc p{
  color: #FFFFFF;
  margin-top: 3%;
}

.com-fis {
  width: 50%;
  float: left;
}
.com-fis p{
  color: #FFFFFF;
  margin-top: 3%;
}

.profile {
  margin-left: 5%;
  float: left;
  text-align: center;
}

.vice {
  margin-top: 7%;
  margin-left: 23%;
}

.secre {
  margin-top: 7%;
}

/************************ NEWS PAGE *****************************************************/

.news-page {
  background: url(asset-path('checkered-flag-opa1000.png'));
  border-radius: 20px;
  color: #FFFFFF;
  padding: 5px;
}

.news-panel {
  border-bottom: 1px solid #E5E5E5;
  margin-left: 5%;
  padding: 20px;
  width: 90%;
}

.news-panel p {
  color: #FFFFFF;
}

.news-panel h3 {
  color: #CACD34;
  text-decoration: underline;
}

.news-panel img {
  float: left;
  margin-bottom: -1px;
  margin-right: 2%;
  margin-top: 20px;
}

.fb-share-btn {
  float: right;
}
.btn-share {
  margin-top: 0px!important;
}

.left-img img {
  float: right;
  margin-left: 2%;
  margin-bottom: -1px;
  margin-top: 20px;
}

.news-panel a {
  color: #CACD34;
}

.news-panel a:focus {
  color: #CACD34;
}

.news-panel a:hover {
  color: #CACD34;
}

.news-panel span {
  color: #C0C0C0;
}

/************************ GALLERIES PAGE *****************************************************/

.gallery-cont {
  background: url(asset-path('checkered-flag-opa1000.png'));
  border-radius: 20px;
  color: #FFFFFF;
  padding: 5px;
}

#gallery {
  color: #FFFFFF;
}


/*pagination*/
.apple_pagination {
  background: #f1f1f1!important;
  border: 1px solid #e5e5e5!important;
  text-align: center!important;
  padding: 1em!important;
  cursor: default!important;
  margin-top: -2px!important;
  border-radius: 0 0 20px 20px!important;
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em !important;
}
.apple_pagination .disabled {
  color: #aaaaaa!important;
}
.apple_pagination .current {
  font-style: normal!important;
  font-weight: bold!important;
  background-color: #bebebe!important;
  display: inline-block!important;
  width: 1.4em!important;
  height: 1.4em!important;
  line-height: 1.5!important;
  -moz-border-radius: 1em!important;
  -webkit-border-radius: 1em!important;
  border-radius: 1em!important;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px!important;
}
.apple_pagination a {
  text-decoration: none!important;
  color: black!important;
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline!important;
}
