/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require active_admin.css.scss
 *= require_self
 *= require bootstrap.css
 *= require business-casual.css.scss
 *= require nanogallery.css.scss
 *= require jquery.selectbox.css
 *= require color_category.css.scss
 */


@font-face {
  font-family: "bebasneue_regular";
  src: url(/assets/bebasneue_regular.otf) format("truetype");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(/assets/Gotham-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "GothamBlackRegular";
  src: url(/assets/GothamBlackRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham-Book";
  src: url(/assets/GothamBook.ttf) format("truetype");
}

.my-logo {
  float: left;
  margin-left: -23px;
  margin-top: -24px;
}

.menu-cont {
  margin-top: 15px;
}

#main_cointainer {
  margin-top: 56px;
}

.navbar-nav a {
  text-decoration: none;
}

.selected_menu {
  color: red !important;
}

.navbar-nav a:hover {
  color: red !important;
  text-decoration: underline;
}

.social {
  margin-top: -5px;
}

.error {
	color:#A94442;
}

.clearBoth {
  clear:both;
}

thead th {
  background: none!important;
}

.page-title {
  margin-top: 0;
  width: 100%;
  margin-bottom:21px;
  text-align: center;
}

.page-title h1{
  text-transform: uppercase;
  color: #2b2b2b;
  font-family: "GothamBlackRegular";
  font-size: 43px;
  letter-spacing: -1px;
  line-height: 50px;
}

.page-title a{
  margin-right:-19px;
  margin-top: -140px;
}


/*******************************************************HOME********************************************************************/


.fan-fb-box{
  float:right;
  margin-right:57px;
  margin-top: 46px;
}

.carousel-control {
  opacity: 1;
  width: 25%;
}

.carousel-control:hover, .carousel-control:focus {
  opacity: 1;
}

.carousel-caption {
  height: 273px !important;
  left: 26px !important;
  position: absolute !important;
  text-align: left !important;
  top: 74px !important;
  width: 492px !important;
  z-index: 10 !important;
}

.carousel-caption h1 {
  color: #fff;
  font-family: "GothamBlackRegular";
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.15;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.carousel-caption h1 span {
  background-color: rgba(217, 0, 0, 0.7);
  box-decoration-break: clone;
  color: #fff;
  display: inline;
  padding: 16px 10px 8px;
  font-size: 32px;

}

.carousel-caption p {
  background-color: rgba(238, 238, 238, 0.9);
  color: #111;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  margin: 0 0 0 -100px;
  padding: 11px 11px 11px 100px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.arrow-left, .arrow-right {
  height: 40px;
  position: absolute;
  top: 226px;
  width: 23px;
  z-index: 999999;
}

.arrow-left {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: 0;
}

.arrow-right {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -54px rgba(0, 0, 0, 0);
  right: 0;
}

.carro-img {
  width:100%;
  height: 412px!important;
}

/****************NEXT RACE*/
.en-carrera {
  background-color: #222;
  margin-top: 50px;
}

.race-feature .volanta {
  float: left;
  width: 505px;
}

.row-cust {
  margin-left: 1px!important;
  height: 199px;
}

.race-feature .volanta .category {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -139px rgba(0, 0, 0, 0);
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 32px;
  text-align: center;
  width: 84px;
  height:38px;
}

.category-kart {
  background:#ffbf00;
  float: left;
  width: 101px;
  border-right: 2px solid white;
  height:38px;
}
.category-kart p{
  color: #fff;
  font-family: "bebasneue_regular";
  font-size: 31px;
  text-align: center;
  line-height: 1.45;
  margin: 0;
}

.category-fsac {
  background:#ff5c26;
  float: left;
  width:163px;
  border-right: 2px solid white;
  height:38px;
}
.category-fsac p{
  color: #fff;
  font-family: "bebasneue_regular";
  font-size: 31px;
  text-align: center;
  line-height: 1.45;
  margin: 0;
}



.race-feature .volanta .date {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll -83px -139px rgba(0, 0, 0, 0);
  color: #212121;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 32px;
  padding: 0 15px 0 0;
  text-align: center;
  width: 154px;;
  height:38px;
}



.menu-race-feature {
  margin: 0;
  padding: 0;
}

.menu-race-feature li {
  background: url(asset-path("sprites-separators.png"))  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #8c8c8c;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 22px;
  list-style: outside none none;
  padding: 10px 13px 0;
}

.menu-race-feature li.first {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.menu-race-feature li a {
  color: #8c8c8c;
}

.menu-race-feature li a.circuito {
  background: url(asset-path("sprites-iconos.png")) no-repeat scroll 0 -112px rgba(0, 0, 0, 0);
  padding: 0 0 0 65px;
  text-decoration:none;
}

.menu-race-feature li a.anticipo {
  background: url(asset-path("sprites-iconos.png")) no-repeat scroll 0 -1083px rgba(0, 0, 0, 0);
  padding: 7px 0 0 27px;
  text-decoration:none;
}

.en-carrera .sponsorship {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll -418px 0 rgba(0, 0, 0, 0);
  height: 199px;
  line-height: 199px;
  text-align: center;
}

.sponsorship img {
  margin-left: 61px;
  width: 188px;
}

.en-carrera .venue {
  padding: 20px 0 20px 10px;
}

.en-carrera .venue h2 {
  color: #fff;
  font-family: "Gotham-Bold";
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 33px;
  margin: 0;
  text-transform: uppercase;
}

.en-carrera .venue .date {
  color: #db0000;
  font-family: "bebasneue_regular";
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 42px;
}

.countdown {
  padding: 20px 0;
}

.countdown-F-btn{
  margin-top:52px;
  position:absolute;
  margin-left: -101px;
}

.countdown .cont-num {
  float: left;
  margin: 0 12px 0 0;
  text-align: center;
  width: 77px;
}

.countdown .cont-num .num {
  background-color: #2b2b2b;
  color: #fff;
  font-family: "bebasneue_regular";
  font-size: 62px;
  padding: 13px 0 0;
}

.countdown .cont-num span {
  color: #999;
  font-family: "bebasneue_regular";
  font-size: 16px;
}


/****************************************** NEWS PAGE *****************************************************/

.news-page {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color:#878787;
  padding: 0 31px 32px;
  float:left;
  width:100%;
}

.news-panel {
  border-bottom: 1px solid #797979;
  margin-left: 5%;
  width: 90%;
  padding: 20px;
}

.news-panel p {
  color: #878787;
}

.news-panel h3 {
  color: #e52b2b;
}

.news-panel img {
  float: left;
  margin-bottom: -1px;
  margin-right: 2%;
}

.notice-F-btn {
  margin-top:-77px;
  margin-right:-15px;
}

.fb-share-btn {
  float: right;
}

.btn-share {
  margin-top: 0px!important;
}

.left-img img {
  float: right;
  margin-left: 2%;
  margin-bottom: -1px;
  margin-top: 20px;
}

.news-panel a {
  color: #e52b2b;
  text-decoration:none;
}

.news-panel a:focus {
  color: #e52b2b;
  text-decoration:underline;
}

.news-panel a:hover {
  color: #e52b2b;
  text-decoration:underline;
}

.news-panel span {
  color: #C0C0C0;
}

/*pagination*/
.apple_pagination {
  background: #f1f1f1!important;
  border: 1px solid #878787!important;
  text-align: center!important;
  padding: 1em!important;
  cursor: default!important;
  margin-top: -2px!important;
  border-radius: 0 0 20px 20px!important;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em !important;
}

.apple_pagination .disabled {
  color: #aaaaaa!important;
}

.apple_pagination .current {
  font-style: normal!important;
  font-weight: bold!important;
  background-color: #bebebe!important;
  display: inline-block!important;
  width: 1.4em!important;
  height: 1.4em!important;
  line-height: 1.5!important;
  -moz-border-radius: 1em!important;
  -webkit-border-radius: 1em!important;
  border-radius: 1em!important;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px!important;
}
.apple_pagination a {
  text-decoration: none!important;
  color: black!important;
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline!important;
}

.notice-panel {
  border-bottom: 1px solid #797979;
  margin-left: 5%;
  width: 90%;
  min-height: 300px;
}

.notice-panel span {
  color: #878787;
}

.notice-panel p {
  color: #878787;
}

.notice-panel img {
  float: left;
  margin-bottom: -1px;
  margin-right: 2%;
}

/**************************************************** CATEGORY PAGE *****************************************************/
.category-page {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #878787;
  padding: 5px 5px 23px;
  text-align: center;
}

.category-panel {
  border-radius: 20px;
  color: #878787;
  float: left;
  margin-left: 25px;
  padding: 5px;
  text-align: center;
  width: 30%;
  cursor: pointer;
  height: 218px;
  margin-bottom: 23px;
  border: 1px solid #878787;
}

.category-panel:hover {
  color: black;
  border: 1px solid black;
  background: url(asset-path('checkered-flag2.png'));
}

.categories-desc p{
  color: #878787!important;
  margin-bottom: 33px;
  padding-left: 33px;
  padding-right: 33px;
  text-align: left;
}

.categories-pages {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #878787;
  padding: 0 31px 32px;
  float: left;
  width: 100%;
}

.categories-pages p {
  color: #878787;
}

.categories-pages .links {
  margin-left: 14px;
  margin-top: 31px;
}

.categories-links {
  display: inline-flex;
  margin-left: 1%;
  text-align: center;

}

.categories-links a {
  background-color: #e52b2b;
  border: 1px solid  #e52b2b;
  border-radius: 15px;
  color: #fff;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding: 15px 15px 11px;
  text-decoration: none;
  width: 156px;
}

.categories-links a:hover {
  color: #e52b2b;
  background-color: white;
  border: 1px solid  #e52b2b;
  text-decoration: none;
}

.small-table {
  width: 50% !important;
  margin-left: 25%;
}

.panel-blk {
  background-color: #000000 !important;
  border-color: #CACD34 !important;
  color: #CACD34 !important;
}

.panel-group .panel {
  border-radius: 4px!important;
  margin-bottom: 18px!important;
}

.panel-default {
  border-color: #FFFFFF!important;
}

.panel {
  background: url(asset-path('checkered-flag2.png'));
}

/***********CALENDAR*************/

.info-circuit2{
  min-height:562px!important;
}

.calendar .info-circuit .date {
  color: #878787;
  font-family: "bebasneue_regular";
  font-size: 40px;
  font-weight:bold;
}

.calendar .info-circuit .date span {
  background-color: #333;
  color: #fff;
  padding: 9px 11px 2px 10px;
  text-align:center;
  margin-right:16px;
}

.calendar .info-circuit .pos {
  list-style-type:none;
}

.calendar .info-circuit .pos > li {
  padding-bottom: 5px;
}

.calendar .info-circuit .pos > li > span, .calendar .info-circuit .pos > li > a {
  display: inline-block;
}

.calendar .info-circuit .pos > li > span {
  color: #e7504d;
  font-family: "bebasneue_regular";
  font-size: 20px;
  line-height: 23px;
  width: 10%;
}

.calendar .info-circuit .pos > li > a {
  color: #555;
  font-family: "Gotham-Bold";
  font-size: 17px;
  font-weight:900;
  line-height: 20px;
  text-transform: uppercase;
  width: 80%;
  text-decoration:nonce;
}

.calendar .info-circuit .more-txt {
  background: none repeat scroll 0 0 #e55151;
  bottom: 10px;
  color: #fff;
  font-family: "Gotham-Book";
  height: 27px;
  padding: 5px;
  position: absolute;
  right: 126px;
  text-transform: none;
  text-decoration:none;
  transition: none 0s ease 0s ;
  width: 67px;
}

.calendar .info-circuit .more-txt:hover {
  background: none repeat scroll 0 0 #333;
  color: #fff;
}

.nav-race {
  text-align:center;
}

.btn-red-small {
  background-color: #e55151;
  color: #fff !important;
  font-family: "bebasneue_regular";
  font-size: 20px;
  padding: 5px 8px 3px;
  text-decoration:none!important;
}

a.btn-red-small:hover {
  background-color: #666;
  color: #fff;
}

a.btn-red-small:visited {
  color: #fff !important;
  text-decoration: none!important;
}

.countdown.lite {
  padding: 10px 29px;
}
.countdown.lite .cont-num {
  margin: 0 5px 0 0;
  width: 50px;
}
.countdown.lite .cont-num .num {
  background-color: #999;
  font-size: 32px;
  padding: 6px 0 0;
}

/****RACE DONE****/
.rece-done-F-btn {
  margin-right: -17px;
  margin-top: -98px;
}

.en-carrera-2 {
  margin-top:0!important;
}

.en-carrera-2 .venue {
  padding: 10px 0 5px 9px;
}

.en-carrera-2 .venue h2 {
  color: #fff;
  font-family: "Gotham-Bold";
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 33px;
  margin: 0;
  text-transform: uppercase;
}

.en-carrera-2 .venue h4 {
  color: red;
  font-family: "Gotham-Bold";
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 33px;
  margin: 0;
  text-transform: uppercase;
}

.en-carrera-2 .venue a {
  color: red;
  font-family: "Gotham-Bold";
  font-size: 20px;
  text-decoration:none;
}

.en-carrera-2 .venue img {
  margin-left:92px;
}

.row-podio {
  margin-left:-0.5px!important;
}

.no-padding {
    padding: 0!important;
}

.micol-1 {
  width:28.333%!important
}

.micol-2 {
  width:70.29%!important
}

.podio .podio-wrapper {
  border-right: 1px solid #000;
  float: left;
  width: 256px;
  height:275px;
}

.podio .podio-wrapper .cont-img {
  background-color: #000;
  position: relative;
}

.podio .podio-wrapper .cont-img .piloto {
  height: 220px;
  position: relative;
}

.podio .podio-wrapper .cont-img .piloto img {
  display: block;
  position: absolute;
  left: 50px;
  z-index: 998;
  width:152px;
}

.podio .podio-wrapper.pos-2, .podio .podio-wrapper.pos-3, .podio .podio-wrapper.pos-1 {
  position: relative;
}

.podio .podio-wrapper.pos-2 .cont-img .piloto img {
  top: 30px;
}

.podio .podio-wrapper.pos-1 .cont-img .piloto img {
  top: 5px;
}

.podio .podio-wrapper.pos-3 .cont-img .piloto img {
  top: 45px;
}

.podio .podio-wrapper .info-wrapper {
  bottom: 0;
  position: absolute;
  width: 256px;
  z-index: 999;
}

.podio .podio-wrapper.pos-2 .info-wrapper {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -522px #d21107;
  height: 70px;
}

.podio .podio-wrapper.pos-1 .info-wrapper {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -619px #d21107;
  height: 95px;
}

.podio .podio-wrapper.pos-3 .info-wrapper {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -746px #d21107;
  height: 55px;
}

.podio .podio-wrapper .info-wrapper .pos {
  color: #fff;
  float: left;
  font-family: "Roboto",sans-serif;
  font-size: 29px;
  margin: 0 15px 0 5px;
}

.podio .podio-wrapper .info-wrapper .name {
  color: #fff;
  float: left;
  font-family: "Gotham-Bold";
  font-size: 22px;
  line-height: 24px;
  padding: 3px 20px 10px 0;
  text-transform: uppercase;
  width: 180px;
}

.tabel-title-final-con{
  width:100%;
  margin-top: 52px;
}

.tabel-title-final{
  width:73%;
  float:left;
}

.export-file {
  width:27%;
  float:left;
}

.export-file .btn-grey-xsmall {
  background-color: #aaa;
  border-radius: 5px;
  color: white !important;
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  margin-left: 16px;
  padding: 0px 11px;
  text-decoration: none !important;
}

.carrera-on-line-verificado {
  background-color: #666;
  color: #fff;
  text-align: center;
}

.incidences p {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size:26px;
}

/***next-race-data****/
.next-race-F-btn {
  margin-right: -17px;
  margin-top: -98px;
}

.photo-race {
  width:100%;
  margin-bottom:54px;
}

.photo-race img {
  width:400px;
  margin-left: 300px;
}

.race-profile h3 {
  background-color: #444;
  color: #fff;
  display: inline;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding: 8px 11px 0;
  text-transform: uppercase;
}

.race-profile .list-item-race {
  float: left;
  margin-left: 88px;
  margin-top: 28px;
  width: 40%;
}

.race-profile .data-race ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.race-profile .data-race li {
  border-bottom: 1px solid #ddd;
  padding: 14px 0 7px 5px;
}

.race-profile .data-race li > span {
  color: #555;
  display: inline-block;
  font-family: "bebasneue_regular";
  font-size: 25px;
  text-transform: uppercase;
  width: 58%;
}

.race-profile .data-race li > strong {
  color: #e55151;
  display: inline-block;
  font-family: "bebasneue_regular";
  font-size: 25px;
  width: 40%;
}

.circuit-drow {
  float: left;
  margin-left: 69px;
  margin-top: 16px;
  width: 41%;
}
.enter {
  margin-top: 36px;
}

.enter .tit-1 h3 {
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.md-latest-news {
  margin-left:290px;
  margin-top:28px;
  width: 45%;
}

.md-latest-news ul {
  clear: both;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.md-latest-news ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.md-latest-news ul li a {
  color: #444;
  font-family: "Gotham-Bold";
  font-size: 18px;
  line-height: 19px;
  text-decoration:none;
}
.md-latest-news ul li a:hover {
  color: #e55151;
}
.crono {
  margin-top:32px;
}

.crono .tit-1 h3 {
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.crono-table {
  margin-left: 92px;
  margin-top: 28px;
  width: 80%;
  font-size:21px!important;
}
.crono-table thead{
  color:white!important;
}

/***********CHAMPIONSHIPS*************/

.categories-pages2 {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #FFFFFF;
  padding: 0 31px 39px;
  float: left;
  width: 100%;
}

.special-p {
  color: #999;
  display: inline;
  font-family: "Gotham-Book";
  font-size: 22px;
  margin: 30px 0;
  text-align: left;
}

.generic-tbl {
  color: #878787;
  font-family: "bebasneue_regular" !important;
  font-size: 30px;
  padding-bottom: 8px;
}

.table2 {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.generic-tbl thead {
  background-color: #333;
  padding: 3px !important;
  color: #aaa;
  font-size: 25px !important;
}

.table2 > thead > tr > th, .table2 > tbody > tr > th, .table2 > tbody > tr > td {
  border-bottom: 0 none;
  padding: 7px 10px 1px;
  vertical-align: middle;
}

.table2 th {
  text-align: left;
}

.generic-tbl .pos {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -828px rgba(0, 0, 0, 0);
  color: #111;
  font-size: 35px;
  width: 78px;
}

.table2 > tbody > tr > td {
  border-bottom: 1px solid #eee;
}

.generic-tbl .piloto.first a {
  font-size: 23px;
  line-height: 22px;
}

.generic-tbl .piloto a {
  color: #444;
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  text-decoration: none;
}

.generic-tbl .copas {
  color: #e82821;
  font-family: "Gotham-Bold";
  font-size: 26px;
}

.generic-tbl .copas em {
  background: url(asset-path("sprites-iconos.png")) repeat scroll 0 -1371px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 32px;
  margin-right: 15px;
  width: 28px;
}

.generic-tbl .pts {
  background: url(asset-path("sprites-buttons.png")) no-repeat scroll 0 -921px rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 30px;
  padding-left: 30px;
  width: 108px;
}

.breadcrumbs {
  color: #999;
  font-family: "Gotham-Book";
  font-size: 22px;
  margin: 30px 0;
  text-transform: uppercase;
  text-align: left;
}

.breadcrumbs a {
  color: #444;
  font-family: "Gotham-Bold";
  text-decoration:none;
}

.breadcrumbs a:hover {
  text-decoration: none;
  color: #BDBDBD;
}

.breadcrumbs .last-it {
  color: #e55151;
}

.championship-data .hd {
  background-color: #eee;
  padding: 20px;
}

.championship-data .race-info {
  margin-top: -10px;
  width:95px;
}
.championship-data .shre-social-cont {
  margin-top:14px;
  margin-left:108px;
  position:absolute;
}

.championship-data .race-info span.disputadas {
  color: #8c8c8c;
  display: block;
  font-family: "bebasneue_regular";
  font-size: 25px;
  line-height: 30px;
  margin-top: 5px;
}

.championship-data .race-info span.num {
  color: #535353;
  display: block;
  font-family: "bebasneue_regular";
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 32px;
  margin-top: 8px;
}

em, dfn {
  font-style: italic;
}

.wrapper-breakdown {
  padding: 0 !important;
}

.breakdown > div {
  background-color: #ededed;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  float: left;
  padding: 0 10px;
  width: 16.66%;
}

.breakdown > div span {
  display: block;
  font-size: 20px;
  width: 100%;
}

.breakdown > div strong {
  color: #ec2a22;
  display: block;
  font-size: 30px;
  text-align: right;
  width: 100%;
}

a.champion-for-year {
  background-color: #e52b2b;
  border: 1px solid  #e52b2b;
  border-radius: 15px;
  color: #fff;
  font-family: "bebasneue_regular";
  font-size: 26px;
  margin-left: 45px;
  margin-top: 1px;
  padding: 15px 15px 11px;
  position: absolute;
  text-decoration: none;
}
.champion-for-year:hover {
  text-decoration: none;
  color: #e52b2b!important;
  background-color: white;
  border: 1px solid  #e52b2b;
}

.champion-for-year:visited {
  color: #fff;
  text-decoration: none;
}

#back-btn{
  margin-left: 485px;
}
.campeonato-info .sbHolder {
   width: 205pxpx;
}

.campeonato-info .sbOptions {
  width: 205px;
}

.select-group {
  margin-top: 12px;
}

.sbOptions a:hover , .sbOptions a:focus, .sbOptions a.sbFocus {
  color:#e55151!important;
}

.panel-heading {
  padding: 10px 15px !important;
  background-color: #333 !important;
}

.panel-title a {
  color: #aaa !important;
  font-family: "bebasneue_regular" !important;
  font-size: 25px;
  text-decoration: none !important;
}

.panel-title a:hover {
  color: white !important;
}

.no-bkg {
  background: none;
}

.panel-collapse{
  border: 1px solid #333;
}

.panels-table {
  padding-bottom: 0;
}

.final-table thead{
  font-size: 23px !important;
}

/***********PILOT*************/

.pilots-container {
  margin-top: 2%;
}

.pilots-F-btn {
  margin-right:-19px;
  margin-top: -80px;
}

.pilot-module {
  float:left;
  margin-bottom: 31px;
  margin-left: 40px;
  width:220px
}

.fig-pilot img {
  width:200px;
  margin-left: 18px;
}

.data-pilot {
  background-color: #444;
  min-height: 140px;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.data-pilot:hover {
  background-color: #e7504d;;
}

.data-pilot h2 {
  color: #fff;
  display: block;
  font-family: "Gotham-Bold";
  font-size: 21px;
  font-weight: normal;
  line-height: 23px;
  margin: 0 0 0 4px;
  text-transform:none;
  width:147px;
  float:left;
}

.car-data span {
  background-color: #e7504d;
  color: #fff;
  display: block;
  float: left;
  font-size: 28px;
  margin-left:-2px;
  text-align: center;
  width: 50px;
}

.info-pilot-img {
  width:197px;
  float:left;
  margin-top:8px;
}

.info-pilot-img img {
  float: left;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top:7px;
}

.team {
  color: white;
}

a.links-to-pilot {
  text-decoration: none!important;
}

.pilot-module:hover {
  background-color: white;
  border-radius: 5px;
}

/***show pilot*****/

.one-pilot-F-btn{
  margin-right:-19px;
  margin-top: -80px;
}

.caption {
  width:100%;
  margin-bottom: 25px;
  margin-top: 42px;
}

.caption h1 {
  font-family: "GothamBlackRegular"!important;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 42px;
  text-transform: uppercase;
}

.caption h1 span {
  background-color: #333;
  box-decoration-break: clone;
  color: #e55151;
  display: inline;
  padding: 14px 10px 8px;
}

.driver-profile {
  padding: 20px 0;
}

.driver-profile .cont-driver img {
  margin: 0 auto;
}

.driver-profile .data-block {
  padding: 20px 0 30px;
}

.driver-profile .data-block .gral-data {
  color: #777;
  font-family: "Gotham-Book";
  font-size: 22px;
  line-height: 22px;
}

.driver-profile .gral-data span {
  color: #333;
  font-family: "Gotham-Bold";
}

.driver-profile .data-block .gral-data {
  color: #777;
  font-family: "Gotham-Book";
  font-size: 22px;
  line-height: 22px;
}

.model-car{
  color: #333;
  display: inline-block;
  float: left;
  font-family: "Gotham-Book";
  font-size: 21px;
  margin-bottom: 9px;
  margin-top: 3px;
  padding-left: 10px;
  width: 225px;;
}

.model-car span {
  display: block;
  font-family: "Gotham-Bold";
  line-height: 21px;
}

.driver-profile .tc-data {
  margin: 25px 0;
}

.driver-profile .tc-data > span {
  background-color: #e55151;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 50px;
  line-height: 60px;
  padding: 4px 14px 0 9px;
  text-align: center;
}

.driver-profile .tc-data .divider {
  border-right: 1px solid #ccc;
}
.driver-profile .tc-data .logo {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

.driver-profile .tc-data .team {
  color: #333;
  display: inline-block;
  float: left;
  font-family: "Gotham-Book";
  font-size: 21px;
  padding-left: 10px;
  width: 225px;
}

.driver-profile .tc-data .team > span {
  display: block;
  font-family: "Gotham-Bold";
  line-height: 21px;
}

.driver-profile .stats-current h3 {
  /*background-color: #444;*/
  color: #444;
  display: inline;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding: 8px 11px 0;
  text-transform: uppercase;
  margin-left: 90px;
}

.driver-profile .stats-current ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.driver-profile .stats-current li {
  border-top: 1px solid #ddd;
  padding: 7px 0;
}

.driver-profile .stats-current li > span {
  color: #555;
  display: inline-block;
  font-family: "bebasneue_regular";
  font-size: 25px;
  text-transform: uppercase;
  width: 85%;
}

.driver-profile .stats-current li > strong {
  color: #e55151;
  display: inline-block;
  font-family: "bebasneue_regular";
  font-size: 25px;
  width: 15%;
}

.custom-pad {
  padding-top: 57px !important;
}

.stats-past .hd {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.stats-past .hd > span {
  color: #444;
  display: block;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.stats-past .hd img {
  float: left;
}

.stats-past .hd .debut {
  color: #e7504d;
  float: left;
  font-family: "Gotham-Book";
  font-size: 16px;
  line-height: 21px;
  padding: 0 0 0 20px;
  width: 231px;
}

.stats-past .hd .debut > span {
  display: block;
  font-family: "Gotham-Bold";
}

.stats-past ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.stats-past ul li {
  padding-bottom: 12px;
}

.stats-past ul li > span {
  color: #444;
  display: inline-block;
  font-family: "Gotham-Bold";
  font-size: 16px;
  text-transform: uppercase;
  width: 80%;
}

.stats-past ul li > strong {
  color: #878787;
  display: inline-block;
  font-family: "Gotham-Book";
  font-size: 18px;
  width: 20%;
}

.car-details {
  margin: 40px 0 0;
}

.car-details h3 {
  background-color: #444;
  color: #fff;
  display: inline;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding: 8px 10px 1px;
  text-transform: uppercase;
}

.car-details .wrapper {
  background-color: white;
  padding: 20px;
}

.car-details .auto img {
  margin: 0 auto;
}

.car-img-cont {
  margin-left: 214px;
}


/***********CIRCUITS******************/

/***** INDEX ****/

.circuit-page {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #878787;
  padding: 0 31px 18px;
  text-align: center;
  float: left;
  width: 100%;
}

.circuits-F-btn {
  margin-right:-19px;
  margin-top: -80px;
}

.circuit-list {
  list-style-type: none;
  margin-left: 6px !important;
}

.link-to-circuit{
  text-decoration:none!important;
}

.info-circuit {
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 30px;
  min-height: auto;
  padding: 12px;
  position: relative;
}

.info-circuit:hover {
  background: white;
  border: 1px solid #dc1919;
}


.info-circuit .hd {
  min-height: 130px;
  text-align:left;
}

.info-circuit .hd h2 {
  color: #dc1919;
  font-family: "Gotham-Bold";
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 27px;
  margin: 0;
  padding: 0 0 5px;
  text-transform: uppercase;
}

.info-circuit .hd p {
  color: #666;
  font-family: "Gotham-Bold";
  font-size: 16px;
  line-height: 17px;
}

.info-circuit figure {
  min-height: 170px;
  padding-bottom: 15px;
  margin-top: -6px;
}

/***** SHOW ****/

.circuit-show {
  text-align: left;
}

.info-circuit-show {
  float:left;
}

.info-circuit-show h2 {
  color: #e55151;
  font-family: "GothamBlackRegular";
  font-size: 43px;
  letter-spacing: -1px;
  line-height: 50px;
  margin-top: 0;
  text-transform: uppercase;
  width: 485px;
}

.info-circuit-show  p {
  color: #666;
  font-family: "Gotham-Book";
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 15px;
}

.info-circuit-show .mts {
  background-color: #fff;
  color: #e6504c;
  float: left;
  font-family: "Gotham-Bold";
  font-size: 25px;
  padding: 2px 13px;
}

.circuit-map {
  margin-left: 540px;
  border: 1px solid #e55151;
  width: 503px!important;
}

.como-llegar  {
  margin-top: 41px;
}

.como-llegar h3 {
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0 ;
  padding: 9px 14px 2.5px;
}

.map-container {
  border-top: 1px solid #ddd;
  height: 600px;
  margin-top: 19px;
  max-width: 100%;
  overflow: hidden;
}

.map-container iframe, .map-container object, .map-container embed {
  height: 88%;
  left: 0;
  margin-left: 17%;
  margin-top: 5%;
  position: relative;
  top: 0;
  width: 67%;
}

.circuit-desc {
  margin-top:62px;
}

.circuit-desc h3 {
  background-color: #444;
  color: #fff;
  display: inline;
  font-family: "bebasneue_regular";
  font-size: 26px;
  padding: 10px 12px 2px;
  text-transform: uppercase;
}

.circuit-desc .wrapper {
  border-top: 1px solid #ddd;
  padding: 10px 73px 5px;
}

.circuit-desc .wrapper p {
  color: #444;
  font-family: "Gotham-Book";
  font-size: 16px;
  margin-bottom: 20px;
}

.video-cont {
  margin-left:183px;
  margin-top:50px;
}

.wrapper2 {
  border-top: 1px solid #ddd;
  padding: 34px 8px 29px;
}

.circuit-images {
  list-style-type:none;
  margin-top: 18px;
}

.circuit-images a {
  text-decoration:none;
}

.circuit-images a:hover {
  text-decoration:none;
}

.circuit-images li{
  display:inline;
  margin-left: 27px;
}

.circuit-images img{
  border: 14px solid #444;
}


/************REGULATION************/
.links-container {
  margin-top: 25px;
}

.regulation-F-btn{
  margin-right:-19px;
  margin-top: -80px;
}

.link-files {
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #CACD34;
  cursor: pointer;
  float: left;
  height: 211px;
  margin-bottom: 23px;
  margin-left: 25px;
  padding: 5px;
  text-align: center;
  width: 21%;
}

.link-files:hover {
  background: white;
  border: 1px solid #dc1919;
  color: #dc1919!important;
}


/***********GALLERY************/
.albun-cont{

}

.albun-cont .tit-1 h3{
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.gent-cont .tit-1 h3 {
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.gent-cont .images{
  margin-top: 20px;
}

.gent-cont a {
  margin-left: 56px;
  text-decoration:none;
}
.gent-cont a:hover {
  text-decoration:none;
}

.h7 {
  width:150px;
}

.motora {
  width:230px;
}

.oleo{
  width:204px;
}

.spilot{
  width:218px;
}

.polaroids {
  margin-top: 20px;
}

.small-block-grid-2 > li {
  padding: 0 0.625em 1.25em;
  width: 25%;
  display: inline;
  float: left;
  height: auto;
}

ul.polaroids a:after {
  content: attr(title);
}

ul.polaroids a {
  background: none repeat scroll 0 0 #fff;
  color: #333;
  display: inline;
  float: left;
  font-family: "Marker Felt",sans-serif;
  font-size: 18px;
  margin: 0 0 27px 30px;
  padding: 10px 10px 15px;
  text-align: center;
  text-decoration: none;
  width: auto;
  transform: rotate(-2deg);
}

ul.polaroids img {
  display: block;
  margin-bottom: 12px;
  width: 190px;
}

ul.polaroids a:hover {
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}


.photo-galery-container {
  padding: 31px 20px 0 10px;

}
.video-galery-container {
  padding: 31px 20px 0 10px;
}


.albun-wraper {
  width:100%;
}

.albun-wraper h3 {
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.tit-1 {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
}



/*********************************** GALLERIES PAGE *****************************************************/


.gallery-cont {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: black;
  padding: 16px 24px 47px;
}

.galleries-F-btn {
  margin-right:8px!important;
  margin-top: -72px!important;
}

#gallery {
  color: black;
}

.nanogallery_theme_default .nanoGalleryNavigationbarContainer {
  margin:5px auto;
  padding:5px 0;
  /*background-color:#f09;*/
  display: block;
}

.gallery-cont .nanogallery_theme_default .nanoGalleryNavigationbar {
  border-top: 1px solid black;
  border-bottom: 1px solid  black;
}



/***************************************************** ABOUT PAGE *****************************************************/

.about-page {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #878787;
  padding: 15px 50px 50px;
}

.directive {
  margin-top: 37px;
}

.directive .tit-1 h3{
  background-color: #444;
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 25px;
  margin: 0;
  padding: 9px 14px 2.5px;
}

.directive-list{
  list-style-type: none;
  margin-top:30px;
}

.profile-direct {
  width:296px;
  height:138px;
  border: 3px solid #ccc;
  border-radius: 20px;
  float:left;
  margin-left: 26px;
  margin-bottom: 26px;
}

.profile-direct img {
  float:left;
  margin: 10px;
  width: 100px;
}

.profile-direct .text-prof {
  float:left;
  margin-top:10px;
  width: 168px;
  text-align: center;
}

.profile-direct .text-prof h3{
  font-family: "bebasneue_regular";
}

/************************************************* CONACT PAGE *****************************************************/

.contact-page {
  background: url(asset-path('checkered-flag2.png'));
  border-radius: 20px;
  color: #878787;
  height: auto;
  padding: 5px 5px 23px;
}

.contact-form button {
  float: right;
  width: 115px;
}

.contact-rigth {
  color: #FF0000;
  float: right;
  margin-right: 61px;
  margin-top: 25px;
}
