<div class="categories-pages">
	<h1> Campeonato Fórmula SAC</h1>
	<table class="table">
    <thead>
      <tr>
        <th>Pos.</th>
        <th>#</th>
        <th>Piloto</th>
        <th>Departamento</th>
        <th>1 fecha</th>
        <th>2 fecha</th>
        <th>3 fecha</th>
        <th>4 fecha</th>
        <th>5 fecha</th>
        <th>6 fecha</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1°</td>
        <td>1</td>
        <td>Rodmey Bisio</td>
        <td>Salto</td>
        <td>15</td>
        <td>10</td>
        <td>12</td>
        <td></td>
        <td></td>
        <td></td>
        <td>37</td>
      </tr>
      <tr>
        <td>2°</td>
        <td>51</td>
        <td>Roberto Gallino</td>
        <td>Salto</td>
        <td>12</td>
        <td>8</td>
        <td>15</td>
        <td></td>
        <td></td>
        <td></td>
        <td>35</td>
      </tr>
      <tr>
        <td>3°</td>
        <td>47</td>
        <td>Nelson Machado</td>
        <td>Salto</td>
        <td>8</td>
        <td>12</td>
        <td>8</td>
        <td></td>
        <td></td>
        <td></td>
        <td>28</td>
      </tr>
      <tr>
        <td>4°</td>
        <td>45</td>
        <td>Diego Sena</td>
        <td>Salto</td>
        <td>6</td>
        <td>7</td>
        <td>10</td>
        <td></td>
        <td></td>
        <td></td>
        <td>23</td>
      </tr>
      <tr>
        <td>5°</td>
        <td>3</td>
        <td>Gabino Franco Fragua</td>
        <td>Salto</td>
        <td>7</td>
        <td>15</td>
        <td>N/C</td>
        <td></td>
        <td></td>
        <td></td>
        <td>22</td>
      </tr>
      <tr>
        <td>6°</td>
        <td>7</td>
        <td>José Luis Lura</td>
        <td>Salto</td>
        <td>10</td>
        <td>N/C</td>
        <td>N/C</td>
        <td></td>
        <td></td>
        <td></td>
        <td>10</td>
      </tr>
      <tr>
        <td>7°</td>
        <td>21</td>
        <td>Gabriel Brizuela</td>
        <td>-</td>
        <td>10</td>
        <td>N/C</td>
        <td>N/C</td>
        <td></td>
        <td></td>
        <td></td>
        <td>10</td>
      </tr>
      <tr>
        <td>8°</td>
        <td>17</td>
        <td>Mario Tolstoy</td>
        <td>-</td>
        <td>8</td>
        <td>N/C</td>
        <td>N/C</td>
        <td></td>
        <td></td>
        <td></td>
        <td>8</td>
      </tr>
      <tr>
        <td>9°</td>
        <td>71</td>
        <td>Roberto Piastri</td>
        <td>Salto</td>
        <td>N/C</td>
        <td>0</td>
        <td>7</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7</td>
      </tr>
      <tr>
        <td>10°</td>
        <td>53</td>
        <td>Arturo Campos</td>
        <td>-</td>
        <td>N/C</td>
        <td>N/C</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td>6</td>
      </tr>
      <tr>
        <td>10°</td>
        <td>53</td>
        <td>Renzo D' Acosta</td>
        <td>-</td>
        <td>N/C</td>
        <td>N/C</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
    <h3>Detalles por fecha</h3>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            1ra fecha - 15/06/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>21</td>
                <td>Gabriel Brizuela</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>17</td>
                <td>Mario Tolstoy</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>7</td>
                <td>José Luis Lura</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>39</td>
                <td>Juan M. Castro</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>7</td>
                <td>José Luis Lura</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>21</td>
                <td>Gabriel Brizuela</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>39</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>19</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>18</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>17</td>
                <td>Mario Tolstoy</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>17</td>
                <td>Mario Tolstoy</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>21</td>
                <td>Gabriel Brizuela</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>7</td>
                <td>José Luis Lura</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>39</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Serie Final</td></tr>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>17</td>
                <td>Mario Tolstoy</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>21</td>
                <td>Gabriel Brizuela</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>7</td>
                <td>José Luis Lura</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>39</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>0</td>
                <td>24</td>
                <td>25</td>
                <td>25</td>
                <td>74</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>0</td>
                <td>22</td>
                <td>22</td>
                <td>24</td>
                <td>68</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>21</td>
                <td>Gabriel Brizuela</td>
                <td>0</td>
                <td>21</td>
                <td>22</td>
                <td>22</td>
                <td>65</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>17</td>
                <td>Mario Tolstoy</td>
                <td>0</td>
                <td>0</td>
                <td>23</td>
                <td>23</td>
                <td>46</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>7</td>
                <td>José Luis Lura</td>
                <td>0</td>
                <td>23</td>
                <td>21</td>
                <td>0</td>
                <td>44</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>0</td>
                <td>18</td>
                <td>20</td>
                <td>0</td>
                <td>38</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>0</td>
                <td>25</td>
                <td>0</td>
                <td>0</td>
                <td>25</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>39</td>
                <td>Juan M. Castro</td>
                <td>0</td>
                <td>20</td>
                <td>0</td>
                <td>0</td>
                <td>20</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>0</td>
                <td>19</td>
                <td>0</td>
                <td>0</td>
                <td>19</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            2ra fecha - 27/07/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>50:24</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>53:57</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>56:06</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1°</td>
                <td>3</td>
                <td>Gabino Franco Fragua</td>
                <td>1</td>
                <td>24</td>
                <td>25</td>
                <td>0</td>
                <td>50</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>0</td>
                <td>23</td>
                <td>24</td>
                <td>0</td>
                <td>47</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>0</td>
                <td>25</td>
                <td>22</td>
                <td>0</td>
                <td>47</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>0</td>
                <td>21</td>
                <td>23</td>
                <td>0</td>
                <td>44</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>0</td>
                <td>22</td>
                <td>0</td>
                <td>0</td>
                <td>22</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            3ra fecha - 17/08/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>51:21</td>
                <td>0</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>51:74</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>53:04</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>53:57</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>71</td>
                <td>Roberto Piastri</td>
                <td>54:25</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>54</td>
                <td>Renzo D'Acosta</td>
                <td>57:30</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>53</td>
                <td>Juan M. Castro</td>
                <td>57:80</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>71</td>
                <td>Roberto Piastri</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>54</td>
                <td>Renzo D'Acosta</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>53</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>71</td>
                <td>Roberto Piastri</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>54</td>
                <td>Renzo D'Acosta</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>53</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>19</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Serie Final</td></tr>
              <tr>
                <td>1°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>00:00:00.000</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>24</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>00:00:00.000</td>
                <td>23</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>00:00:00.000</td>
                <td>22</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>71</td>
                <td>Roberto Piastri</td>
                <td>00:00:00.000</td>
                <td>21</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>54</td>
                <td>Renzo D'Acosta</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>53</td>
                <td>Juan M. Castro</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1°</td>
                <td>51</td>
                <td>Roberto Gallino</td>
                <td>1</td>
                <td>25</td>
                <td>25</td>
                <td>24</td>
                <td>75</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>1</td>
                <td>Rodmey Bisio</td>
                <td>0</td>
                <td>24</td>
                <td>24</td>
                <td>25</td>
                <td>73</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>45</td>
                <td>Diego Sena</td>
                <td>0</td>
                <td>23</td>
                <td>22</td>
                <td>23</td>
                <td>68</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>47</td>
                <td>Nelson Machado</td>
                <td>0</td>
                <td>22</td>
                <td>23</td>
                <td>22</td>
                <td>67</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>71</td>
                <td>Roberto Piastri</td>
                <td>0</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>63</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>54</td>
                <td>Renzo D'Acosta</td>
                <td>0</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
                <td>60</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>53</td>
                <td>Juan M. Castro</td>
                <td>0</td>
                <td>0</td>
                <td>19</td>
                <td>0</td>
                <td>19</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            4ta fecha - 21/09/2014 - Paysandu
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            5ta fecha - 05/10/2014
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            6ta fecha - 16/11/2014
          </a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>