<div class="categories-pages">
	<h1>Campeonato Karting 125cc</h1>
	<table class="table">
    <thead>
      <tr>
        <th>Pos.</th>
        <th>#</th>
        <th>Piloto</th>
        <th>Departamento</th>
        <th>1 fecha</th>
        <th>2 fecha</th>
        <th>3 fecha</th>
        <th>4 fecha</th>
        <th>5 fecha</th>
        <th>6 fecha</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1°</td>
        <td>20</td>
        <td>Ariel Bidart</td>
        <td>Salto</td>
        <td>12</td>
        <td>12</td>
        <td>12</td>
        <td></td>
        <td></td>
        <td></td>
        <td>36</td>
      </tr>
      <tr>
        <td>2°</td>
        <td>50</td>
        <td>Leonardo Cavanna</td>
        <td>Salto</td>
        <td>9</td>
        <td>7</td>
        <td>7</td>
        <td></td>
        <td></td>
        <td></td>
        <td>23</td>
      </tr>
      <tr>
        <td>3°</td>
        <td>137</td>
        <td>Luis Bidart</td>
        <td>Salto</td>
        <td>2</td>
        <td>9</td>
        <td>9</td>
        <td></td>
        <td></td>
        <td></td>
        <td>20</td>
      </tr>
      <tr>
        <td>4°</td>
        <td>13</td>
        <td>Pablo Siffredo</td>
        <td>Salto</td>
        <td>6</td>
        <td>6</td>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td>15</td>
      </tr>
      <tr>
        <td>5°</td>
        <td>41</td>
        <td>Roberto Gallino</td>
        <td>Salto</td>
        <td>7</td>
        <td>4</td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>12</td>
      </tr>
      <tr>
        <td>6°</td>
        <td>33</td>
        <td>Alejo Parentini</td>
        <td>Salto</td>
        <td>5</td>
        <td>0</td>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td>11</td>
      </tr>
      <tr>
        <td>7°</td>
        <td>22</td>
        <td>Francisco Freitas</td>
        <td>Salto</td>
        <td>0</td>
        <td>3</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td>8</td>
      </tr>
      <tr>
        <td>8°</td>
        <td>77</td>
        <td>Enrrique Gimenez</td>
        <td></td>
        <td>3</td>
        <td>0</td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7</td>
      </tr>
      <tr>
        <td>9°</td>
        <td>35</td>
        <td>Valentino Muffolini</td>
        <td>Salto</td>
        <td>0</td>
        <td>5</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td>7</td>
      </tr>
      <tr>
        <td>10°</td>
        <td>24</td>
        <td>Palmera Grilli</td>
        <td>Salto</td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td>4</td>
      </tr>
      <tr>
        <td>11°</td>
        <td>29</td>
        <td>Manuel Bottaro</td>
        <td></td>
        <td>N/C</td>
        <td>2</td>
        <td>N/C</td>
        <td></td>
        <td></td>
        <td></td>
        <td>2</td>
      </tr>
      <tr>
        <td>12°</td>
        <td>59</td>
        <td>Marecelo Neron</td>
        <td></td>
        <td>1</td>
        <td>N/C</td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
    <h3>Detalles por fecha</h3>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            1ra fecha - 15/06/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>4</td>
                <td>Jhonatan Ramon</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>48</td>
                <td>Ezequiel Borba</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>99</td>
                <td>Santiago Duran</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>4</td>
                <td>Jhonatan Ramon</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>48</td>
                <td>Ezequiel Borba</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>99</td>
                <td>Santiago Duran</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>4</td>
                <td>Jhonatan Ramon</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>48</td>
                <td>Ezequiel Borba</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>99</td>
                <td>Santiago Duran</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Serie Final</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>4</td>
                <td>Jhonatan Ramon</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>48</td>
                <td>Ezequiel Borba</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>99</td>
                <td>Santiago Duran</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>0</td>
                <td>17</td>
                <td>17</td>
                <td>20</td>
                <td>54</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>0</td>
                <td>20</td>
                <td>20</td>
                <td>0</td>
                <td>40</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>0</td>
                <td>5</td>
                <td>14</td>
                <td>17</td>
                <td>36</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>14</td>
                <td>24</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>0</td>
                <td>12</td>
                <td>0</td>
                <td>12</td>
                <td>24</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>0</td>
                <td>10</td>
                <td>4</td>
                <td>10</td>
                <td>24</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>0</td>
                <td>14</td>
                <td>3</td>
                <td>6</td>
                <td>23</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>0</td>
                <td>4</td>
                <td>8</td>
                <td>8</td>
                <td>20</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>0</td>
                <td>3</td>
                <td>12</td>
                <td>5</td>
                <td>20</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>0</td>
                <td>6</td>
                <td>6</td>
                <td>3</td>
                <td>15</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>0</td>
                <td>8</td>
                <td>0</td>
                <td>4</td>
                <td>12</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>0</td>
                <td>2</td>
                <td>5</td>
                <td>2</td>
                <td>9</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>0</td>
                <td>0</td>
                <td>2</td>
                <td>1</td>
                <td>3</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>4</td>
                <td>Jhonatan Ramon</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>48</td>
                <td>Ezequiel Borba</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>99</td>
                <td>Santiago Duran</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            2ra fecha - 27/07/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>47:75</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>47:86</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>47:95</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>48:38</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>48:86</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>49:35</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>49:52</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>29</td>
                <td>Manuel Bottaro</td>
                <td>49:57</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>21</td>
                <td>Juan Imas</td>
                <td>49:97</td>
                <td>0</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>49:97</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>9</td>
                <td>Felix De la Carrera</td>
                <td>49:99</td>
                <td>0</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>50:36</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>213</td>
                <td>Luis A. Ganzo</td>
                <td>50:63</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>50:69</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>50:99</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>51:18</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>51:50</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>51:61</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>51:71</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>51:94</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>53:09</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>272</td>
                <td>Gustavo Boksar</td>
                <td>53:62</td>
                <td>0</td>
              </tr>
              <tr>
                <td>23°</td>
                <td>121</td>
                <td>Luis E. Kucharsky</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>29</td>
                <td>Manuel Bottaro</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>21</td>
                <td>Juan Imas</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>9</td>
                <td>Felix De la Carrera</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>213</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>272</td>
                <td>Gustavo Boksar</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>23°</td>
                <td>121</td>
                <td>Luis E. Kucharsky</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>29</td>
                <td>Manuel Bottaro</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>21</td>
                <td>Juan Imas</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>9</td>
                <td>Felix De la Carrera</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>213</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>272</td>
                <td>Gustavo Boksar</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>23°</td>
                <td>121</td>
                <td>Luis E. Kucharsky</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Serie Final</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>29</td>
                <td>Manuel Bottaro</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>21</td>
                <td>Juan Imas</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>9</td>
                <td>Felix De la Carrera</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>27°</td>
                <td>121</td>
                <td>Luis E. Kucharsky</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>213</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>23°</td>
                <td>272</td>
                <td>Gustavo Boksar</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            	<tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>0</td>
                <td>20</td>
                <td>17</td>
                <td>20</td>
                <td>57</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>137</td>
                <td>Luis Bidart</td>
                <td>1</td>
                <td>17</td>
                <td>20</td>
                <td>17</td>
                <td>55</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>0</td>
                <td>14</td>
                <td>14</td>
                <td>14</td>
                <td>42</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>0</td>
                <td>8</td>
                <td>10</td>
                <td>12</td>
                <td>30</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>0</td>
                <td>12</td>
                <td>12</td>
                <td>3</td>
                <td>27</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>0</td>
                <td>6</td>
                <td>8</td>
                <td>10</td>
                <td>24</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>0</td>
                <td>10</td>
                <td>6</td>
                <td>8</td>
                <td>24</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>29</td>
                <td>Manuel Bottaro</td>
                <td>0</td>
                <td>5</td>
                <td>4</td>
                <td>2</td>
                <td>11</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>48</td>
                <td>Natalia Legnazi</td>
                <td>0</td>
                <td>0</td>
                <td>3</td>
                <td>6</td>
                <td>9</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>0</td>
                <td>4</td>
                <td>0</td>
                <td>5</td>
                <td>9</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>0</td>
                <td>3</td>
                <td>5</td>
                <td>0</td>
                <td>8</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>4</td>
                <td>4</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>21</td>
                <td>Juan Imas</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>0</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>9</td>
                <td>Felix De la Carrera</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>121</td>
                <td>Luis E. Kucharsky</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>213</td>
                <td>Luis A. Ganzo</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>28</td>
                <td>Marcelo Freitas</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>23°</td>
                <td>272</td>
                <td>Gustavo Boksar</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            3ra fecha - 17/08/2014 - Salto
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table table-condensed small-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Tiempo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr><td style="text-align:center" colspan="5">Clasificación</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>47:71</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>47:82</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>48:33</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>7</td>
                <td>Luis Bidart</td>
                <td>48:38</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>49:02</td>
                <td>0</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>31</td>
                <td>Pigurina Natalia</td>
                <td>49:31</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>36</td>
                <td>Natalia Legnazi</td>
                <td>49:36</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>49:51</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>49:62</td>
                <td>0</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>49:83</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>50:07</td>
                <td>0</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>50:26</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>50:82</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>50:82</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>50:94</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>51:01</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>5</td>
                <td>Ernesto Barcia</td>
                <td>51:06</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>51:32</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>51:46</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>38</td>
                <td>Fernando Guerra</td>
                <td>52:10</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>76</td>
                <td>Carlos Broli</td>
                <td>53:37</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>21</td>
                <td>Luis A. Ganzo</td>
                <td>00:00</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Primer Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>7</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>36</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>5</td>
                <td>Ernesto Barcia</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>38</td>
                <td>Fernando Guerra</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>76</td>
                <td>Carlos Broli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>21</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Segunda Serie</td></tr>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>7</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>21</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>36</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>5</td>
                <td>Ernesto Barcia</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>38</td>
                <td>Fernando Guerra</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>76</td>
                <td>Carlos Broli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr><td style="text-align:center" colspan="5">Serie Final</td></tr>
              <tr>
                <td>1°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>00:00:00.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>00:00:00.000</td>
                <td>17</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>7</td>
                <td>Luis Bidart</td>
                <td>00:00:00.000</td>
                <td>14</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>00:00:00.000</td>
                <td>12</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>00:00:00.000</td>
                <td>10</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>00:00:00.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>36</td>
                <td>Natalia Legnazi</td>
                <td>00:00:00.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>00:00:00.000</td>
                <td>5</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>00:00:00.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>00:00:00.000</td>
                <td>3</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>00:00:00.000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>00:00:00.000</td>
                <td>1</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>21</td>
                <td>Luis A. Ganzo</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>5</td>
                <td>Ernesto Barcia</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>38</td>
                <td>Fernando Guerra</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>76</td>
                <td>Carlos Broli</td>
                <td>00:00:00.000</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-condensed small-table">
            <thead>
              <tr><td style="text-align:center" colspan="7">Clasificación Final</td></tr>
              <tr>
                <th>Pos.</th>
                <th>#</th>
                <th>Piloto</th>
                <th>Clasif.</th>
                <th>1er serie</th>
                <th>2da serie</th>
                <th>Final</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1°</td>
                <td>20</td>
                <td>Ariel Bidart</td>
                <td>1</td>
                <td>20</td>
                <td>20</td>
                <td>17</td>
                <td>58</td>
              </tr>
              <tr>
                <td>2°</td>
                <td>7</td>
                <td>Luis Bidart</td>
                <td>0</td>
                <td>14</td>
                <td>17</td>
                <td>14</td>
                <td>45</td>
              </tr>
              <tr>
                <td>3°</td>
                <td>50</td>
                <td>Leonardo Cavanna</td>
                <td>0</td>
                <td>17</td>
                <td>5</td>
                <td>20</td>
                <td>42</td>
              </tr>
              <tr>
                <td>4°</td>
                <td>33</td>
                <td>Alejo Parentini</td>
                <td>0</td>
                <td>8</td>
                <td>12</td>
                <td>12</td>
                <td>32</td>
              </tr>
              <tr>
                <td>5°</td>
                <td>22</td>
                <td>Francisco Freitas</td>
                <td>0</td>
                <td>12</td>
                <td>6</td>
                <td>8</td>
                <td>26</td>
              </tr>
              <tr>
                <td>6°</td>
                <td>77</td>
                <td>Enrique Gimenez</td>
                <td>0</td>
                <td>10</td>
                <td>14</td>
                <td>0</td>
                <td>24</td>
              </tr>
              <tr>
                <td>7°</td>
                <td>13</td>
                <td>Pablo Siffredo</td>
                <td>0</td>
                <td>6</td>
                <td>10</td>
                <td>4</td>
                <td>20</td>
              </tr>
              <tr>
                <td>8°</td>
                <td>35</td>
                <td>Valentino Muffolini</td>
                <td>0</td>
                <td>1</td>
                <td>8</td>
                <td>10</td>
                <td>19</td>
              </tr>
              <tr>
                <td>9°</td>
                <td>41</td>
                <td>Roberto Gallino</td>
                <td>0</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
                <td>13</td>
              </tr>
              <tr>
                <td>10°</td>
                <td>36</td>
                <td>Natalia Legnazi</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>6</td>
                <td>9</td>
              </tr>
              <tr>
                <td>11°</td>
                <td>53</td>
                <td>Marcelo Neron</td>
                <td>0</td>
                <td>2</td>
                <td>1</td>
                <td>3</td>
                <td>6</td>
              </tr>
              <tr>
                <td>12°</td>
                <td>31</td>
                <td>Natalia Pigurina</td>
                <td>0</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>5</td>
              </tr>
              <tr>
                <td>13°</td>
                <td>86</td>
                <td>Emiliano Correa</td>
                <td>0</td>
                <td>0</td>
                <td>2</td>
                <td>2</td>
                <td>4</td>
              </tr>
              <tr>
                <td>14°</td>
                <td>21</td>
                <td>Luis A. Ganzo</td>
                <td>0</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td>15°</td>
                <td>40</td>
                <td>Nicolas Gallino</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>16°</td>
                <td>82</td>
                <td>Valerio Correa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17°</td>
                <td>12</td>
                <td>Wilson Botti</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>18°</td>
                <td>17</td>
                <td>Joaquin Menoni</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>19°</td>
                <td>5</td>
                <td>Ernesto Barcia</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>20°</td>
                <td>24</td>
                <td>Matias Grilli</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>21°</td>
                <td>38</td>
                <td>Fernando Guerra</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>22°</td>
                <td>76</td>
                <td>Carlos Broli</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            4ta fecha - 21/09/2014 - Paysandu
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            5ta fecha - 05/10/2014
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-blk panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            6ta fecha - 16/11/2014
          </a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
