<footer>
  <div class="container">
    <div class="row">
      <div style="float:left">
        <%= image_tag 'logo.png', height: 30, style: "float:left"  %>
        <p style="float:left;margin-left:17px">Salto Automóvil Club 2016</p>
      </div>
      <div style="float:right">
        <%= link_to "https://www.linkedin.com/in/gfagalde", :target => "_blank" do %>
          <%= image_tag 'milogo_fondo_negro.png', height: 30%>
        <% end -%>
      </div>
    </div>
  </div>
</footer>
